@keyframes colorchange {
    0% {
        background-color: #1049A9;
    }
    100% {
        background-color: #052C6E;
    }
}

@keyframes colorchange-2 {
    0% {
        background: rgba(16, 73, 169, 0);
    }
    100% {
        background: rgba(16, 73, 169, 0.7);
    }
}

@keyframes colorchange-3 {
    0% {
        background: #A9C1EA;
    }
    100% {
        background: #1049A9;
    }
}

@keyframes colorchange-4 {
    0% {
        background: orange;
    }
    100% {
        background: orange;
    }
}

@keyframes colorchange-5 {
    0% {
        border-color: white;
    }
    100% {
        border-color: #052C6E;
    }
}

@keyframes widthchange-1 {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes widthchange-2 {
    0% {
        width: 180px;
    }
    100% {
        width: 100%;
    }
}

@keyframes widthchange-3 {
    0% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}