$color_light: #1049A9;
$color_dark: #052C6E;
$color_orange: #ffa500;
$color_grey: rgba(128, 128, 128, 0.4);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$font: 'Roboto Condensed', sans-serif;

/*
* {
    font-family: Arial, "Times New Roman", sans-serif;
}*/

* {
    font-family: $font;
}
