$columns: 800px 1fr 15%;
$rows: 34px 170px 500px 40px 620px 40px 340px 40px 500px 40px 420px 390px 35px;
$areas: "info-panel info-panel info-panel" 
        "main-header main-header main-header" 
        "main-info main-info main-info" 
        "planes-header planes-header planes-header" 
        "wrapper wrapper wrapper" 
        "gallery-header gallery-header gallery-header" 
        "slider slider slider" 
        "feedback-header feedback-header feedback-header" 
        "feedback feedback feedback" 
        "contacts contacts contacts" 
        "footer-1 footer-2 footer-2" 
        "footer-4 footer-4 footer-4" 
        "footer-5 footer-5 footer-5";

#root {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areas;
}

header#info-panel {
    grid-area: info-panel;
}

header#main-header {
    grid-area: main-header;
}

div#main-info {
    grid-area: main-info;
}

div#planes-header {
    grid-area: planes-header;
}

div#plane-1 {
    grid-area: plane-1;
}

div#plane-2 {
    grid-area: plane-2;
}

div#plane-3 {
    grid-area: plane-3;
}

aside#schedule {
    grid-area: schedule;
}

div#gallery-header {
    grid-area: gallery-header;
}

div#slider {
    grid-area: slider;
}

div#feedback-header {
    grid-area: feedback-header;
}

div#feedback-wrapper {
    grid-area: feedback;
    padding-left: 150px;
    padding-right: 150px;
}

div#contacts-header {
    grid-area: contacts;
}

footer#footer-1 {
    grid-area: footer-1;
}

footer#footer-2 {
    grid-area: footer-2;
}

footer#footer-4 {
    grid-area: footer-4;
}

footer#footer-5 {
    grid-area: footer-5;
    background-color: #052C6E;
}

div#wrapper {
    grid-area: wrapper;
    padding: 0;
    margin: 10px 150px 10px 150px;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 250px 350px;
    grid-template-areas: "schedule plane-1 plane-2" "schedule plane-3 plane-3";
    /*
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    */
}