$columns: 150px 1fr 10px 150px;
$rows: 34px 170px 70px 500px 390px 35px;
$areas: "info-panel info-panel info-panel info-panel" 
        "main-header main-header main-header main-header"
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs" 
        ". show-article show-article ."
        "footer-4 footer-4 footer-4 footer-4" 
        "footer-5 footer-5 footer-5 footer-5";

.grid-for-article-page {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areas;
}

header#info-panel {
    grid-area: info-panel;
}

header#main-header {
    grid-area: main-header;
}

div.breadcrumbs {
    grid-area: breadcrumbs;
}

div.article {
    grid-area: show-article;
}

footer#footer-4 {
    grid-area: footer-4;
}

footer#footer-5 {
    grid-area: footer-5;
    background-color: #052C6E;
}