.breadcrumbs {
    
    color: white;
    display: flex;
    align-items: center;

    div {
        //margin-top: 30px;
        display: inline-block;
        height: 30px;
        
        background-color: $color_light;
        padding-left: 8%;
        padding-right: 30px;
        
        span {
            line-height: 30px;

            a {
                text-decoration: none;
                color: #fff;
            }

            &.delimiter {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    
}