$columns: 8% 1fr 350px 8%;
$rows: 34px 170px 80px auto 390px 35px;
$areas: "info-panel info-panel info-panel info-panel" 
        "main-header main-header main-header main-header"
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs" 
        ". show-article news-list-bar ."
        "footer-4 footer-4 footer-4 footer-4" 
        "footer-5 footer-5 footer-5 footer-5";

$areas_1000px: "info-panel info-panel info-panel info-panel" 
        "main-header main-header main-header main-header"
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs" 
        ". show-article show-article ."
        ". news-list-bar news-list-bar ."
        "footer-4 footer-4 footer-4 footer-4" 
        "footer-5 footer-5 footer-5 footer-5";

.grid-for-article-page {
    padding: 0;
    margin: 0;
    background-image: url("../../assets/images/wall.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: -280px;
    background-color: #93B4D1;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areas;
    
}

header#info-panel {
    grid-area: info-panel;
}

header#main-header {
    grid-area: main-header;
}

div.breadcrumbs {
    grid-area: breadcrumbs;
    
}

div.article {
    grid-area: show-article;
}

div.news-list-bar {
    grid-area: news-list-bar;
}

footer#footer-4 {
    grid-area: footer-4;
}

footer#footer-5 {
    grid-area: footer-5;
    background-color: #052C6E;
}

@media screen and (max-width: 1200px) {
    .grid-for-article-page {
        grid-template-rows: 34px auto 80px auto auto 35px;
    }
    
}

@media screen and (max-width: 1000px) {
    .grid-for-article-page {
        grid-template-areas: $areas_1000px;
        grid-template-rows: 34px auto 80px auto auto auto 35px;
    }
    
}

@media screen and (max-width: 500px) {
    .grid-for-article-page {
        
        grid-template-rows: 34px auto 80px auto auto auto 35px;
    }
    
}