.list {
    background-color: white;
    padding: 50px;
    margin-bottom: 20px;

    .news-block {
        border-bottom: 1px $color_grey solid;
        padding-bottom: 10px;

        .news-block-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: #000;
            }

            img {
                width: 200px;
                height: auto;
                margin-right: 10px;
            }
        }

        .addition-data {
            font-size: 14px;
            color: $color_grey;
            span {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

    }

    .news-block:last-of-type {
        border-bottom: none;
    }
    
    .pagination {
        display: flex;
        list-style: none;
        font-size: 20px;
        justify-content: center;
    }
    .pagination-li {
        margin: 5px;
    }
    .pagination-a {
        padding: 10px;
    }
    .pagination-a:hover {
        background-color: $color_light;
        color: #fff;
        cursor: pointer;
    }
    .active a {
        
        background-color: $color_dark;
        color: #fff;
    }
    .pagination-previous-a::before {
        content: '';
        background: url('../../assets/images/left-arrow-back.svg');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 30px;
    }
    .pagination-next-a::before {
        content: '';
        background: url('../../assets/images/right-forward-arrow.svg');
        background-size: 30px 30px;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 30px;
    }
    .loader {
        display: flex;
        justify-content: center;
        margin: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .news-block-wrapper {
        flex-direction: column;
        
        img { 
            width: 100% !important;
            padding-top: 5px;
        }
    }

    .pagination {
        padding-left: 0 !important;
        font-size: 14px !important;
        
    }
    .list {
        padding: 3%;
    }
}