/* Последние новости */
aside#news {
    display: flex;
    flex-direction: column;
    height: 600px;

    div#news-header {
        width: 100%;
        height: 32px;
        border-bottom: 1px solid white;
        background-color: $color_light;
        text-transform: uppercase;
        text-shadow: #808080 0 0 1px;

        span {
            color: white;
            font-size: 16px;
            font-weight: bold;
            margin-left: 10px;
            line-height: 32px;
        }
    }

    .news-list {
        overflow: auto;
    }

    .news-continue {
        width: 100%;
        height: 32px;
        background-color: #1049A9;
        text-transform: uppercase;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            text-shadow: #808080 0 0 1px;

            &:hover {
                animation-name: colorchange;
                animation-duration: 0.7s;
                background-color: #052C6E;
            }

            & > span {
                color: white;
                font-size: 16px;
                font-weight: bold;
                margin-left: 10px;
                line-height: 32px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    aside#news {
        width: 100%;
        margin-top: 10px;
        height: auto;
    }
}