.article {
    background-color: white;
    padding: 50px;
    margin-bottom: 20px;

    .addition-data {
        font-size: 14px;
        color: $color_grey;
        span {
            padding-left: 5px;
            padding-right: 5px;
        }
        margin-bottom: 8px;
    }
    
    .share-buttons * {
        margin: 2px;
    }
    
}