/* Плитки */
.hover {
    position: relative;
}
  
div#plane-1 {
    background-size: cover;
    background-position-y: -30px;
    background-position-x: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
  
div#plane-2 {
    background-size: cover;
    background-position-y: 310px;
    margin-bottom: 5px;
}
  
div#plane-3 {
    background-size: cover;
    background-position-y: -60px;
    margin-left: 5px;
}
  
div.wrapper-2 {
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(16, 73, 169, 0.7);
    animation-name: colorchange-2;
    animation-duration: 1s;
    overflow: auto;

    h4 {
        margin: 0;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    p {
        color: white;
    }
}
  
.hover:hover .wrapper-2 {
    display: block;
    width: 100%;
    height: 100%;
}

.hover:hover .plane-name {
    display: none;
}
  
a.plane-info {
    display: block;
    text-decoration: none;
    padding: 30px;
}
  
div.plane-name {
    padding: 10px 0 10px 0;
    width: 100px;
    text-align: center;
    background-color: #1049A9;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    /* теперь по правой стороне блока. Вместо float:right; */
}

@media screen and (max-width: 1200px) {
    div#plane-1 {
        margin-left: 0px;
    }
      
    div#plane-3 {
        margin-left: 0px;
    }
}

@media screen and (max-width: 500px) {
    div#plane-1 {
        margin-right: 0px;
    }
}